@font-face{
	font-family: 'Miller';
	src: url('../assets/fonts/Miller.eot');
	src: url('../assets/fonts/Miller.eot?#iefix') format('embedded-opentype'),
	     url('../assets/fonts/Miller.woff') format('woff'),
	     url('../assets/fonts/Miller.ttf') format('truetype'),
	     url('../assets/fonts/Miller.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Graphik';
	src: url('../assets/fonts/Graphik.eot');
	src: url('../assets/fonts/Graphik.eot?#iefix') format('embedded-opentype'),
	     url('../assets/fonts/Graphik.woff') format('woff'),
	     url('../assets/fonts/Graphik.ttf') format('truetype'),
	     url('../assets/fonts/Graphik.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Graphik-Medium';
	src: url('../assets/fonts/Graphik-Medium.eot');
	src: url('../assets/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../assets/fonts/Graphik-Medium.woff') format('woff'),
	     url('../assets/fonts/Graphik-Medium.ttf') format('truetype'),
	     url('../assets/fonts/Graphik-Medium.svg#webfont') format('svg');
}

h1, .input {
  font-family: 'Miller';
  font-size: rem(60);
  color: $primary;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  font-family: 'Miller';
  font-size: rem(48);
  color: $primary;
  line-height: 1.5;
  font-weight: 400;
}

h3 {
  font-family: 'Miller';
  font-size: rem(24);
  color: $primary;
  line-height: 1.5;
  font-weight: 400;
}

h4 {
  font-family: 'Miller';
  font-size: rem(24);
  color: $primary;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: 'Graphik';
  font-size: rem(14);
  color: $text-dark;
  line-height: 1.5;
}

.question {
  font-family: 'Courier';
  font-size: rem(18);
  color: $text-light;
	letter-spacing: -0.7px;
	font-weight: 400;
}

.CTA {
  font-family: 'Graphik-Medium';
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 1px;
  color: $primary;
  text-transform: uppercase;
	margin-top: 2px;
}

.neighborhood {
  background-color: $darkbg;
  font-family: 'Graphik';
  font-size: rem(14);
  color: $text-dark;
}

.filters {
  background-color: $filter;
  font-family: 'Miller';
  font-size: rem(15);
	color: $primary;
	font-weight: 400;
	border-radius: 2px;
}
