// @import 'https://fonts.googleapis.com/css?family=Roboto:100,400,400i,500';

$em-base: 16px !default;

$medium-screen: 768px;

$primary: #1A2560;      // dark blue
$secondary: #E9F7DF;    // light green
$lightbg: #FBFBFB;      // light gray
$darkbg: #F0F0F0;       // dark gray
$text-dark: #242424;    // black
$text-light: #686868;   // gray
$filter: #E3E4EA;       // light blue
$stroke: 2px solid #1A2560;
