.landing-hero {
    align-items: center;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;

    &__logo {
        width: 5rem;
    }

    &__title {
        color: #fff;
        font-weight: 100;
        letter-spacing: 1.4px;
        margin: 1rem 0;
        text-transform: uppercase;
    }
}