.search {
    outline: 1px dashed deeppink;

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__cta {
        @extend .CTA;
        background: none;
        border:none;
        color: $text-light;
        font-size: rem(10);
        letter-spacing: 1px;
        opacity: 0.5;

        &--hidden {
            display: none;
        }
    }
}
