html, body {
  background: $filter;
}
.stage {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $medium-screen){
        flex-wrap: wrap;
    }

    // * {
    //     outline: 1px dashed lightblue;
    // }
}
